{% extends 'errorbase.html' %}
{% block head_title %}SOLICITUD INCORRECTA \ {{ block.super }}{% endblock head_title %}
{% comment %} PLANTILLA PARA MOSTRAR LAS CATEGORIAS DE LOS MUEBLES {% endcomment %}
{% block error404 %}
        <!--<picture>
            <source src="">
        </picture>-->
        <div class="valing-wrapper">
            <h1 class="center-align">404</h1>
            <h2 class="center-align">LO SENTIMOS - LA PAGINA QUE SOLICITASTE NO EXISTE</h2>
            <p class="flow-text">Es posible que haya seguido un enlace <br>
                                obsoleto o que haya escrito mal una URL
            </p>
            <a href="{% url 'muebles:home' %}" alt="Inicio" title="Inicio" class="waves-effect waves-light btn-large yellow accent-2"><i class="material-icons arrow_forward">Ir a la p&aacute;gina de inicio</i></a>
        </div><!-- /valing-wrapper -->
{% endblock error404 %}