{% extends 'base.html' %}
{% load thumbnail %}
{% comment %} PLANTILLA PARA MOSTRAR LAS CATEGORIAS DE LOS MUEBLES {% endcomment %}
{% block title %} Comedores  {% endblock %}
{% block CategoryTemplate %}

        <div class="container">
            <div class="row">
                {% for mueble in object_list %}
                    {% thumbnail mueble.foto_1 "1600x1200" as img_1_cat %}
                            <div class="col s12 m12 l6 x6">
                                <div class="card">
                                    <div class="card-image">
                                        <a href="!#">
                                            <img src="{{ img_1_cat.url }} ">
                                        </a>
                                        <span class="card-title"> {{ mueble.modelo }} </span>
                                    </div>
                                </div>
                            </div>
                    {% endthumbnail %}
                {% endfor %}
            </div><!-- /row -->
        </div><!-- /container -->

{% endblock CategoryTemplate %}