{% comment %} 
 <!-- ARCHIVO QUE SIRVE PARA LA PAGINACIÒN DE LA LISTA DE MUEBLES EN:
 PuertasCategoryTemplateView.html
 ComedoresCategoryTemplateView.html
 CocinasCategoryTemplateView.html
 ClosetsCategoryTemplateView.html
 BanosCategoryTemplateView.html
 --> 
 {% endcomment %}
<div class="container">
    <div class="row center-align">
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <i class="material-icons">chevron_left</i></a>
                    </li>
                {% endif %}
                    <li class="active">
                        <a href="#!">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </li>
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}">
                                <i class="material-icons">chevron_right</i></a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div><!-- row -->
</div><!-- container -->

