{% extends 'base.html' %}
{% block head_title %}Preguntas y Respuestas - {{ block.super }}{% endblock head_title %}
{% comment %}  PLANTILLA PARA FORMULARIO DE CONTACTO {% endcomment %}
{% block PyrTemplate %}
    <div class="container background-pyr">
        <div class="row">
            <div><br><br></div>
            <div class="box-left tri-right">
                <p>¿Realizas la instalaci&oacute;n de la cocina?</p>
            </div>
            <div class="box-right tri-left">
                <p><i>Si. Si, solicitas la intalaci&oacute;n de la cocina, el precio es de $800.00 (Ochocientos Pesos 00/100)</i></p>
            </div>
            <div class="box-left tri-right">
                <p>¿Entregas a otros estados de la Rep&uacute;blica?</p>
            </div><!-- /box-left tri-right -->
            <div class="box-right tri-left">
                <p><i>No. Por el momento solo hacemos entrega en el Estado de Quer&eacute;taro, sin costo de flete.</i></p>
            </div><!-- /box-right tri-left-->
            <div class="box-left tri-right">
                <p>¿Entregas en la CDMX?</p>
            </div>
            <div class="box-right tri-left">
                <p><i>No. Para entregar a CDMX te entregamos la cocina antes de pasar la caseta de Tepotzotl&aacute;n.</i></p>
            </div>
            <div class="box-left tri-right">
                <p>¿Vendes partes de las cocinas por separado?</p>
            </div>
            <div class="box-right tri-left">
                <p><i>No. Solo se venden cocinas completas.</i></p>
            </div>
            <div class="box-left tri-right">
                <p>¿Cual es el tiempo de entrega de las cocinas economicas de 1.20cm, las que las que tienen un costo de $6,800.00?</p>
            </div>
            <div class="box-right tri-left">
                <p><i>El tiempo de entrega de las cocinas economicas de 1.20cm, es de 5 d&iacute;as</i></p>
            </div>
            <div class="box-left tri-right">
                <p>¿Haces cocinas a la medida?</p>
            </div>
            <div class="box-right tri-left">
                <p><i>Si. Si gustas nos puedes enviar por correo un dibujo de la cocina con las medidas, y lo más pronto posible te contestamos con un "costo aproximado".</i></p>
            </div>
            <!-- {# <div class="box-left tri-right">
                <p>¿?</p>
            </div>
            <div class="box-right tri-left">
                <p><i></i></p>
            </div> #} -->
        </div><!-- row -->
    </div><!--  /container -->
{% endblock PyrTemplate %}
