{% extends 'base.html' %}
{% comment %}  PLANTILLA PARA FORMULARIO DE CONTACTO {% endcomment %}
{% block title %} Contacto {% endblock title %}
{% block PyrTemplate %}
    <div class="container background-pyr">
        <div class="row">
            <div><br><br></div>
            <div class="box-left tri-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ea eaque in veniam accusamus odio praesentium ex debitis repudiandae sunt esse nobis, nihil, id deleniti dolores recusandae. Sapiente, illo, veritatis.
                </p>
            </div><!-- /box-left tri-right -->
            <div class="box-right tri-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ea eaque in veniam accusamus odio praesentium ex debitis repudiandae sunt esse nobis, nihil, id deleniti dolores recusandae. Sapiente, illo, veritatis.
                </p>
            </div><!-- /box-right tri-left-->
            <div class="box-left tri-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ea eaque in veniam accusamus odio praesentium ex debitis repudiandae sunt esse nobis, nihil, id deleniti dolores recusandae. Sapiente, illo, veritatis.
                </p>
            </div><!-- /box-left tri-right -->
            <div class="box-right tri-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ea eaque in veniam accusamus odio praesentium ex debitis repudiandae sunt esse nobis, nihil, id deleniti dolores recusandae. Sapiente, illo, veritatis.
                </p>
            </div><!-- /box-right tri-left-->
        </div><!-- row -->
    </div><!--  /container -->
{% endblock PyrTemplate %}