{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="Muebles y Dise&ntilde;os de Madera del Centro">
    <title>{% block head_title %}Muebles y Dise&ntilde;os de Madera del Centro{% endblock head_title %}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Italianno" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> 
    <!-- <link rel="stylesheet" href="{% static "css/materialize.css" %}" type="text/css"  media="screen,projection"/> -->
    <!-- <link rel="stylesheet" href=" {% static "css/flickity.css" %}" type="text/css"  media="screen,projection"/> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"  media="screen,projection"/>

</head>
<body>
<header>
    {% include 'menubar.html' %}
</header>
<main style="background-image: url({% static 'img/wood_bg.png' %})">
    {% block fpss %}{% endblock fpss %}
    {% block CategoryTemplate %}{% endblock CategoryTemplate %}
    {% block DetailTemplate %}{% endblock DetailTemplate %}
    {% block ContactTemplate %}{% endblock ContactTemplate %}
    {% block PyrTemplate %}{% endblock PyrTemplate %}
    <!--
    <div class="col s12 m12 l12 xl12 fcarousel">
        <picture>
            <source srcset="img/img-xl-large-desktop-devices-1800.jpg, img/img-xl-large-desktop-devices-1800-hd.jpg 2x" alt="" media="(min-width: 1200px)">
            <source srcset="img/img-l-desktop-devices-992-1199.jpg, img/img-l-desktop-devices-992-1199-hd 2x.jpg" media="(min-width: 992px) and (max-width: 1199px)">
            <source srcset="img/img-m-tablet-devices-601-991.jpg, img/img-m-tablet-devices-601-991-hd.jpg 2x" alt="" media="(min-width: 601px) and (max-width: 991px)">
            <source srcset="img/img-s-movil-devices-600.jpg, img/img-s-movil-devices-600-hd.jpg 2x" alt="" media="(min-width: 600px)">
                <img class="carousel-cell carousel_cell_img" srcset="img/img-s-movil-devices-600.jpg, img/img-s-movil-devices-600-hd.jpg 2x" alt="">
        </picture>
        <picture>
            <source srcset="img/img-xl-01.jpg, img/img-xl-01.jpg 2x" alt="" media="(min-width: 1200px)">
            <source srcset="img/img-l-01.jpg, img/img-l-01.jpg 2x." alt="" media="(min-width: 992px) and (max-width: 1199px)">
            <source srcset="img/img-m-01.jpg, img/img-m-01.jpg 2x" alt="" media="(min-width: 601px) and (max-width: 991px)">
            <source srcset="img/img-s-01.jpg, img/img-s-01.jpg 2x" alt="" media="(min-width: 600px)">
                <img class="carousel-cell carousel_cell_img" srcset="img/img-s-01.jpg, img/img-s-01-hd.jpg 2x" alt="">
        </picture>
        <picture>
            <source srcset="img/img-xl-02.jpg, img/img-xl-02.jpg 2x" alt="" media="(min-width: 1200px)">
            <source srcset="img/img-l-02.jpg, img/img-l-02.jpg 2x." alt="" media="(min-width: 992px) and (max-width: 1199px)">
            <source srcset="img/img-m-02.jpg, img/img-m-02.jpg 2x" alt="" media="(min-width: 601px) and (max-width: 991px)">
            <source srcset="img/img-s-02.jpg, img/img-s-02.jpg 2x" alt="" media="(min-width: 600px)">
                <img class="carousel-cell carousel_cell_img" srcset="img/img-s-02.jpg, img/img-s-02-hd.jpg 2x" alt="">
        </picture>
        <picture>
            <source srcset="img/img-xl-03.jpg, img/img-xl-03.jpg 2x" alt="" media="(min-width: 1200px)">
            <source srcset="img/img-l-03.jpg, img/img-l-03.jpg 2x." alt="" media="(min-width: 992px) and (max-width: 1199px)">
            <source srcset="img/img-m-03.jpg, img/img-m-03.jpg 2x" alt="" media="(min-width: 601px) and (max-width: 991px)">
            <source srcset="img/img-s-03.jpg, img/img-s-03.jpg 2x" alt="" media="(min-width: 600px)">
                <img class="carousel-cell carousel_cell_img" srcset="img/img-s-03.jpg, img/img-s-03-hd.jpg 2x" alt="">
        </picture>
        <picture>
            <source srcset="img/img-xl-04.jpg, img/img-xl-04.jpg 2x" alt="" media="(min-width: 1200px)">
            <source srcset="img/img-l-04.jpg, img/img-l-04.jpg 2x." alt="" media="(min-width: 992px) and (max-width: 1199px)">
            <source srcset="img/img-m-04.jpg, img/img-m-04.jpg 2x" alt="" media="(min-width: 601px) and (max-width: 991px)">
            <source srcset="img/img-s-04.jpg, img/img-s-04.jpg 2x" alt="" media="(min-width: 600px)">
                <img class="carousel-cell carousel_cell_img" srcset="img/img-s-04.jpg, img/img-s-04-hd.jpg 2x" alt="">
        </picture>
    </div>
    -->
</main>
<footer class="page-footer">
    {# {% include 'footer.html' %} #}
    <div class="footer-color footer-copyright">
        <div class="container piedepagina_copyright">
            <span>
                © 2019 Copyright Text
            </span>
            <span>powered by
                <a class="linux" href="http://www.linux.com/" target="_blank" title="linux"><img style="width: 16px" src="{% static 'img/linux-brands.svg' %}"></a>
                <a class="django" href="https://www.djangoproject.com/" target="_blank" title="django The Framework"><img style="width: 16px" src="https://static.djangoproject.com/img/favicon.6dbf28c0650e.ico" alt="django"></a>
                <a class="digitalocean" href="https://www.digitalocean.com/" target="_blank" title="Digital Ocean"><img style="width: 16px" src="{% static 'img/DO_Logo_icon_blue.svg' %}"></a>
            </span>
            <span class="grey-text text-lighten-4">
                design by
                <a href="mailto:nomackayu@gmail.com">nomackayu</a>  with
                    <i class="red-text far fa-heart"></i>
            </span>
        </div>
    </div><!-- ./blue-grey darken-4 footer-copyright -->
</footer>
<!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARNNkTIUcO0U1ySnFoTdfklKcy7nA0iIM&callback=initMap"></script>
    <!-- <script src="{% static "js/jquery.js" %}"></script> -->
    <!-- <script src="{% static "js/materialize.js" %}"></script> -->
    <!-- <script src="{% static "js/flickity.pkgd.js" %}"></script> -->
    <script src="{% static "js/myjs.js" %}"></script>
<!--  Scripts-->
  </body>
</html>
