    <div class="footer-color footer-copyright">
        <div class="container piedepagina_copyright">
            <span>
                © 2019 Copyright Text
            </span>
            <span>powered by 
                <a class="linux" href="http://www.linux.com/" target="_blank" title="linux"><i class="fab fa-linux" aria-hidden="true"></i></a>
                <a class="django" href="https://www.djangoproject.com/" target="_blank" title="django The Framework"><img class="django-ico" src="https://www.djangoproject.com/s/img/favicon.6dbf28c0650e.ico" alt=""></a>
                <a class="digitalocean" href="https://www.digitalocean.com/" target="_blank" title="Digital Ocean"><img style="width: 16px" src="/static/img/DO_Logo_icon_blue.svg"></a>
            </span>
            <span class="grey-text text-lighten-4">
                design by
                <a href="mailto:nomackayu@gmail.com">nomackayu</a>  with
                    <i class="red-text far fa-heart"></i>
            </span>
        </div>
    </div><!-- ./blue-grey darken-4 footer-copyright -->