{% extends 'base.html' %}
{% load thumbnail %}
{% comment %} SLIDE QUE SE MUESTRA PAGINA DE INICIO SLIDE {% endcomment %}
{% block title %} Muebles y Dise&ntilde;os de Madera del Centro  {% endblock %}
{% block fpss %}

<div class="col s12 m12 l12 xl12 fcarousel">
        {% for picturescat in pictures_fpss %}
            <p>{{ thumbnail picturescat.imagen_categoria }}</p>
            <picture>
                <source {% thumbnail picturescat.imagen_categoria "1800" as imagendecategoria %} srcset="{{ imagendecategoria.url}}, {{ imagendecategoria.url|resolution:"2x" }}" alt="{{ picturescat.cat_mueble }}" title="{{ picturescat.cat_mueble }}" media="(min-width:1200px)">{% endthumbnail %}
                <source {% thumbnail picturescat.imagen_categoria "1199" as imagendecategoria %} srcset="{{ imagendecategoria.url}}, {{ imagendecategoria.url|resolution:"2x" }}" alt="{{ picturescat.cat_mueble }}" title="{{ picturescat.cat_mueble }}" media="(min-width: 992px) and (max-width: 1199px)">{% endthumbnail %}
                <source {% thumbnail picturescat.imagen_categoria "991" as imagendecategoria %} srcset="{{ imagendecategoria.url}}, {{ imagendecategoria.url|resolution:"2x" }}" alt="{{ picturescat.cat_mueble }}" title="{{ picturescat.cat_mueble }}" media="(min-width: 601px) and (max-width: 991px)">{% endthumbnail %}
                <source {% thumbnail picturescat.imagen_categoria "600" as imagendecategoria %} srcset="{{ imagendecategoria.url}}, {{ imagendecategoria.url|resolution:"2x" }}" alt="{{ picturescat.cat_mueble }}" title="{{ picturescat.cat_mueble }}" media="(min-width: 600px)">{% endthumbnail %}
                    <img class="carousel-cell" {% thumbnail picturescat.imagen_categoria "600" as imagendecategoria %} srcset="{{ imagendecategoria.url }}, {{ imagendecategoria.url|resolution:"2x" }}" alt="{{ picturescat.cat_mueble }}" title="{{ picturescat.cat_mueble }}"> {% endthumbnail %}
            </picture>
        {% endfor %}
</div>
{% endblock fpss %}