    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="{% url 'muebles:home' %}" class="brand-logo titulo">Muebles y Dise&ntilde;os <br> en Madera</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text" href="{% url 'categorias:comedores' %}" title="Comedores">Comedores</a></li>
                    <li><a class="white-text" href="{% url 'categorias:cocinas' %}" title="Cocinas">Cocinas</a></li>
                    <li><a class="white-text" href="{% url 'categorias:closets' %}" title="Closets">Closets</a></li>
                    <li><a class="white-text" href="{% url 'categorias:puertas' %}" title="Puertas">Puertas</a></li>
                    <li><a class="white-text" href="{% url 'categorias:banos' %}" title="Ba&ntilde;os">Ba&ntilde;os</a></li>
                    <li><a class="white-text" href="{% url 'categorias:contacto' %}" title="Contacto">Contacto</a></li>
                    <li><a class="white-text" href="{% url 'categorias:pyr' %}" title="Preguntas y Respuestas">PyR</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="{% url 'categorias:comedores' %}" title="Comedores">Comedores</a></li>
            <li><a href="{% url 'categorias:cocinas' %}" title="Cocinas">Cocinas</a></li>
            <li><a href="{% url 'categorias:closets' %}" title="Closets">Closets</a></li>
            <li><a href="{% url 'categorias:puertas' %}" title="Puertas">Puertas</a></li>
            <li><a href="{% url 'categorias:banos' %}" title="Ba&ntilde;os">Ba&ntilde;os</a></li>
            <li><a href="{% url 'categorias:contacto' %}" title="Contacto">Contacto</a></li>
            <li><a href="{% url 'categorias:pyr' %}" title="Preguntas y Respuestas">PyR</a></li>
        </ul>
    </div>