    <!-- {# <div> #} -->
    <div class="navbar-fixed">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper container">
                <a href="{% url 'muebles:home' %}" alt="Inicio" title="Inicio" class="brand-logo titulo">Muebles y Dise&ntilde;os <br> en Madera</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="grey-text text-darken-4" href="{% url 'categorias:comedores' %}" alt="omedores" title="Comedores">Comedores</a></li>
                    <li><a class="grey-text text-darken-4" href="{% url 'categorias:cocinas' %}" alt"Cocinas" title="Cocinas">Cocinas</a></li>
                    <li><a class="grey-text text-darken-4" href="{% url 'categorias:closets' %}" alt"Closets" title="Closets">Closets</a></li>
                    <li><a class="grey-text text-darken-4" href="{% url 'categorias:puertas' %}" alt"Puertas" title="Puertas">Puertas</a></li>
                    <li><a class="grey-text text-darken-4" href="{% url 'categorias:banos' %}" alt"Ba&ntilde;os" title="Ba&ntilde;os">Ba&ntilde;os</a></li>
                    <li><a class="grey-text text-darken-4" href="{% url 'categorias:contacto' %}" alt="Contacto" title="Contacto">Contacto</a></li>
                    <li><a class="grey-text text-darken-4" href="{% url 'categorias:pyr' %}" alt="Preguntas y Respuestas" title="Preguntas y Respuestas">PyR</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <ul style="z-index:999999999;" id="mobile-demo" class="sidenav">
            <li><a href="{% url 'categorias:comedores' %}" alt="Comedores" title="Comedores">Comedores</a></li>
            <li><a href="{% url 'categorias:cocinas' %}" alt="Cocinas" title="Cocinas">Cocinas</a></li>
            <li><a href="{% url 'categorias:closets' %}" alt="Closets" title="Closets">Closets</a></li>
            <li><a href="{% url 'categorias:puertas' %}" alt="Puertas" title="Puertas">Puertas</a></li>
            <li><a href="{% url 'categorias:banos' %}" alt="Ba&ntilde;os" title="Ba&ntilde;os">Ba&ntilde;os</a></li>
            <li><a href="{% url 'categorias:contacto' %}" alt="Contacto" title="Contacto">Contacto</a></li>
            <li><a href="{% url 'categorias:pyr' %}" alt="Preguntas y Respuestas" title="Preguntas y Respuestas">PyR</a></li>
        </ul>
    </div>